H1 {
	COLOR: white; FONT-FAMILY: sans-serif,Arial,Tahoma; BACKGROUND-COLOR: #0086b2
}
H3 {
	COLOR: white; FONT-FAMILY: sans-serif,Arial,Tahoma; BACKGROUND-COLOR: #0086b2
}
BODY {
	COLOR: black; FONT-FAMILY: sans-serif,Arial,Tahoma; BACKGROUND-COLOR: white
}
UNKNOWN {
	COLOR: white; BACKGROUND-COLOR: #0086b2
}
HR {
	COLOR: #0086b2
}
TD.titleField {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: #ffe6d3; MARGIN: 0px; COLOR: #282828; FONT-FAMILY: Trebuchet MS, Geneva, sans-serif; TEXT-ALIGN: center
}
TD.summaryField {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; MARGIN: 0px; COLOR: #282828; FONT-FAMILY: Trebuchet MS, Geneva, sans-serif
}
TD {
	FONT-SIZE: 11px; MARGIN: 0px; COLOR: #282828; FONT-FAMILY: Trebuchet MS, Geneva, sans-serif
}
INPUT {
	FONT-SIZE: 11px; MARGIN: 0px; COLOR: #282828; FONT-FAMILY: Trebuchet MS, Geneva, sans-serif
}
SELECT {
	FONT-SIZE: 11px; MARGIN: 0px; COLOR: #282828; FONT-FAMILY: Trebuchet MS, Geneva, sans-serif
}
TEXTAREA {
	FONT-SIZE: 11px; MARGIN: 0px; COLOR: #282828; FONT-FAMILY: Trebuchet MS, Geneva, sans-serif
}
TD.titleTable {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; MARGIN: 0px; COLOR: #282828; FONT-FAMILY: Trebuchet MS, Geneva, sans-serif
}
A {
	COLOR: #000000; TEXT-DECORATION: underline
}
A:unknown {
	outline: none
}
A:hover {
	COLOR: #4b7584; TEXT-DECORATION: none
}
.BottomBg {
	BACKGROUND-IMAGE: url(../images/bottombg.gif); BORDER-LEFT: white 1px solid; BORDER-BOTTOM: #c6ced3 1px solid
}
.TopPanel {
	PADDING-RIGHT: 9px; BORDER-TOP: white 1px solid; PADDING-LEFT: 9px; BACKGROUND-IMAGE: url(../images/toppanelbg.gif); PADDING-BOTTOM: 3px; BORDER-LEFT: white 1px solid; PADDING-TOP: 3px
}
.Search {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #336699; FONT-FAMILY: arial
}
.TopPanelMenu {
	BORDER-RIGHT: #666666 1px solid; PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: normal; FONT-SIZE: 8pt; BORDER-LEFT: white 1px solid; COLOR: black; FONT-FAMILY: verdana
}
.TopPanelLeftMenu {
	BORDER-RIGHT: #666666 1px solid; PADDING-RIGHT: 8px; FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: black; FONT-FAMILY: verdana
}
.TopPanelRightMenu {
	PADDING-LEFT: 8px; FONT-WEIGHT: normal; FONT-SIZE: 8pt; BORDER-LEFT: white 1px solid; COLOR: black; FONT-FAMILY: verdana
}
.ContentBg {
	BORDER-RIGHT: white 1px solid; PADDING-RIGHT: 7px; BORDER-TOP: #666666 1px solid; PADDING-LEFT: 7px; PADDING-BOTTOM: 7px; BORDER-LEFT: #666666 1px solid; PADDING-TOP: 7px; BORDER-BOTTOM: white 1px solid; BACKGROUND-COLOR: #d8d7c5
}
.ContentTable {
	BACKGROUND-COLOR: #909090
}
.UserControlBg {
	BORDER-RIGHT: white 1px solid; BORDER-TOP: #666666 1px solid; BORDER-LEFT: #666666 1px solid; BORDER-BOTTOM: white 1px solid; BACKGROUND-COLOR: #75b9d2
}
.UserGreet {
	BORDER-RIGHT: #4b7584 1px solid; PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 7.5pt; PADDING-BOTTOM: 1px; COLOR: maroon; PADDING-TOP: 1px; FONT-FAMILY: verdana
}
.Time {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: normal; FONT-SIZE: 7.5pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #c9e9f4 1px solid; COLOR: black; PADDING-TOP: 1px; FONT-FAMILY: verdana
}
.Logout {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 7.5pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #c4d0ee 1px solid; COLOR: black; PADDING-TOP: 1px; FONT-FAMILY: verdana
}
.Password {
	BORDER-RIGHT: #4b7584 1px solid; PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: normal; FONT-SIZE: 7.5pt; PADDING-BOTTOM: 1px; COLOR: black; PADDING-TOP: 1px; FONT-FAMILY: verdana
}
.MenuBg {
	PADDING-RIGHT: 7px; BORDER-TOP: white 1px solid; PADDING-LEFT: 7px; PADDING-BOTTOM: 7px; BORDER-LEFT: white 1px solid; PADDING-TOP: 7px; BACKGROUND-COLOR: #c6ced3
}
.PlainBg {
	BORDER-TOP: white 1px solid; BACKGROUND-COLOR: #c6ced3
}
.ContentHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: maroon; FONT-FAMILY: arial
}
.SubTab {
	BORDER-RIGHT: #687298 1px solid; PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: normal; FONT-SIZE: 8pt; BORDER-LEFT: white 1px solid; COLOR: black; FONT-FAMILY: verdana; BACKGROUND-COLOR: #a9b7e6
}
.LeftSubTab {
	BORDER-RIGHT: #687298 1px solid; PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: black; FONT-FAMILY: verdana; BACKGROUND-COLOR: #a9b7e6
}
.RightSubTab {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: normal; FONT-SIZE: 8pt; BORDER-LEFT: white 1px solid; COLOR: black; FONT-FAMILY: verdana; BACKGROUND-COLOR: #a9b7e6
}
.CurrentSubTab {
	BORDER-RIGHT: #687298 1px solid; PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; BORDER-LEFT: white 1px solid; COLOR: black; FONT-FAMILY: verdana; BACKGROUND-COLOR: #a9b7e6
}
.CurrentLeftSubTab {
	BORDER-RIGHT: #687298 1px solid; PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: black; FONT-FAMILY: verdana; BACKGROUND-COLOR: #a9b7e6
}
.CurrentRightSubTab {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; BORDER-LEFT: white 1px solid; COLOR: black; FONT-FAMILY: verdana; BACKGROUND-COLOR: #a9b7e6
}
.TableBg {
	BACKGROUND-COLOR: #979797
}
.Form {
	PADDING-RIGHT: 4px; BORDER-TOP: white 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: normal; FONT-SIZE: 8pt; PADDING-BOTTOM: 4px; BORDER-LEFT: white 1px solid; COLOR: black; PADDING-TOP: 4px; FONT-FAMILY: verdana; BACKGROUND-COLOR: #F2F2F2
}
.Cell {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: normal; FONT-SIZE: 7pt; PADDING-BOTTOM: 0px; COLOR: black; PADDING-TOP: 0px; FONT-FAMILY: verdana; BACKGROUND-COLOR: #f9f9f9
}
.CellAlt {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: normal; FONT-SIZE: 8pt; PADDING-BOTTOM: 0px; COLOR: black; PADDING-TOP: 0px; FONT-FAMILY: verdana; BACKGROUND-COLOR: white
}
.CellSelected {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: normal; FONT-SIZE: 8pt; PADDING-BOTTOM: 0px; COLOR: black; PADDING-TOP: 0px; FONT-FAMILY: verdana; BACKGROUND-COLOR: #a9b7e6
}
.DataHeaderAlt {
	PADDING-RIGHT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 9pt; PADDING-BOTTOM: 2px; COLOR: black; PADDING-TOP: 2px; FONT-FAMILY: verdana
}
.DataHeader {
	PADDING-RIGHT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; PADDING-BOTTOM: 2px; COLOR: black; PADDING-TOP: 2px; FONT-FAMILY: verdana
}
.DataForm {
	PADDING-RIGHT: 4px; FONT-WEIGHT: normal; FONT-SIZE: 8pt; PADDING-BOTTOM: 4px; COLOR: #333300; PADDING-TOP: 2px; FONT-FAMILY: verdana
}
.ErrorForm {
	PADDING-RIGHT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; PADDING-BOTTOM: 4px; COLOR: #000000; PADDING-TOP: 2px; FONT-FAMILY: verdana
}
INPUT {
	BORDER-RIGHT: #c0c0c0 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #c0c0c0 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: normal; FONT-SIZE: 8pt; PADDING-BOTTOM: 2px; BORDER-LEFT: #c0c0c0 1px solid; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: #c0c0c0 1px solid; FONT-FAMILY: verdana; BACKGROUND-COLOR: #fffedc
}
TEXTAREA {
	BORDER-RIGHT: #c0c0c0 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #c0c0c0 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: normal; FONT-SIZE: 8pt; PADDING-BOTTOM: 2px; BORDER-LEFT: #c0c0c0 1px solid; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: #c0c0c0 1px solid; FONT-FAMILY: verdana; BACKGROUND-COLOR: #fffedc
}
SELECT {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT: 8pt verdana; BORDER-LEFT: #999999 1px solid; COLOR: black; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #fffedc
}
.Field {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: black; FONT-FAMILY: verdana
}
.CommonText {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: black; PADDING-TOP: 8px; FONT-FAMILY: verdana
}
.TabCurrent {
	BORDER-RIGHT: #687298 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #eceef6 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 9pt; BACKGROUND-IMAGE: url(../images/menulvl1bg.gif); PADDING-BOTTOM: 4px; BORDER-LEFT: white 1px solid; COLOR: black; PADDING-TOP: 4px; FONT-FAMILY: verdana; TEXT-ALIGN: left
}
.TabCurrentCenter {
	BORDER-RIGHT: #687298 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #eceef6 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 9pt; BACKGROUND-IMAGE: url(../images/menulvl1bg.gif); PADDING-BOTTOM: 4px; BORDER-LEFT: white 1px solid; COLOR: black; PADDING-TOP: 4px; FONT-FAMILY: verdana; TEXT-ALIGN: center
}
.TabOff {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #f2f2f2 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BACKGROUND-IMAGE: url(../images/tabbgoff.gif); PADDING-BOTTOM: 4px; BORDER-LEFT: white 1px solid; COLOR: black; PADDING-TOP: 4px; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: verdana; TEXT-ALIGN: center
}
BUTTON {
	BORDER-RIGHT: #64570c 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #ffffcc 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: normal; FONT-SIZE: 7.5pt; BACKGROUND-IMAGE: url(../images/buttonbg.gif); PADDING-BOTTOM: 1px; BORDER-LEFT: #ffffcc 1px solid; COLOR: black; PADDING-TOP: 1px; BORDER-BOTTOM: #64570c 1px solid; FONT-FAMILY: verdana, Helvetica, sans-serif
}
.DividerTop {
	FONT-SIZE: 8pt; PADDING-BOTTOM: 3px; COLOR: #003366; BORDER-BOTTOM: #979578 1px solid; FONT-FAMILY: verdana
}
.DividerBottom {
	BORDER-TOP: #f2f2df 1px solid
}
.TrackingCurrent {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #003366; FONT-FAMILY: verdana
}
.Footer {
	PADDING-RIGHT: 8px; FONT-WEIGHT: normal; FONT-SIZE: 7pt; PADDING-BOTTOM: 4px; COLOR: #dedede; PADDING-TOP: 4px; FONT-FAMILY: verdana; TEXT-ALIGN: center
}
.BgForm {
	BACKGROUND: #cccccc
}
.Table {
	BORDER-RIGHT: #666666 2px solid; PADDING-RIGHT: 4px; BORDER-TOP: #666666 1px solid; PADDING-LEFT: 1px; BACKGROUND: #BEBDBD; PADDING-BOTTOM: 1px; BORDER-LEFT: #666666 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #666666 1px solid
}
.TableBg {
	BORDER-RIGHT: #ffffff 2px solid; BORDER-TOP: #F2F2F2 2px solid; BACKGROUND: #F2F2F2; BORDER-LEFT: #003544 2px solid; BORDER-BOTTOM: #ccffff 2px solid
}
.FontGen {
	FONT-SIZE: 10pt; COLOR: BLACK; FONT-FAMILY: arial
}
.FontBold {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: BLACK; FONT-FAMILY: arial
}
.Form {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-SIZE: 9pt; BACKGROUND: #F2F2F2; PADDING-BOTTOM: 2px; BORDER-LEFT: black 1px solid; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: arial
}
.CellHead {
	BORDER-RIGHT: #5e5e55 1px solid; BORDER-TOP: #efeee3 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10pt; BACKGROUND: #d8d7c5; BORDER-LEFT: white 1px solid; COLOR: black; BORDER-BOTTOM: #7d7c71 1px solid; FONT-FAMILY: arial
}
.Cell1 {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 10pt; BACKGROUND: #cdcdcd; PADDING-BOTTOM: 2px; COLOR: black; PADDING-TOP: 2px; FONT-FAMILY: arial
}
.Cell2 {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 10pt; BACKGROUND: #F2F2F2; PADDING-BOTTOM: 2px; COLOR: black; PADDING-TOP: 2px; FONT-FAMILY: arial
}
.Desc {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #000000; FONT-FAMILY: arial
}
.Total {
	BORDER-RIGHT: #ffebcb 2px solid; BORDER-TOP: #653e00 2px solid; FONT-WEIGHT: bold; FONT-SIZE: 30pt; BACKGROUND: #F2F2F2; BORDER-LEFT: #855200 2px solid; COLOR: black; BORDER-BOTTOM: white 2px solid; FONT-FAMILY: arial
}
.Icon {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: arial
}
